<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SteinbachEntities" connectionString="metadata=res://*/SteinbachModel.csdl|res://*/SteinbachModel.ssdl|res://*/SteinbachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WINDOWS8SSD\SQLSERVEREXPRESS;Initial Catalog=ProjektDB_Steinbach;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SteinbachEntities_Steinbach" connectionString="metadata=res://*/SteinbachModel.csdl|res://*/SteinbachModel.ssdl|res://*/SteinbachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DATENSERVER;Initial Catalog=ProjektDB_Steinbach;User ID=sa;Password=root;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SteinbachEntities_Notebook" connectionString="metadata=res://*/SteinbachModel.csdl|res://*/SteinbachModel.ssdl|res://*/SteinbachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ASNOTEBOOK\SQL2008NB;Initial Catalog=Steinbach;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DAL.Properties.Settings.SteinbachConnectionString" connectionString="Data Source=WIN7TEMPL\SQLVM_STEINBACH;Initial Catalog=SteinbachNew;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
